html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
   
  }
#container{
        border: 1px solid #ccc;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
}

#top{
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 40px;
    background: #252525;
    color: #fff;
}
.screen{
    display: grid;
    word-break: break-word;
    align-items: flex-end;
    grid-column: 1;
    grid-row: 2;
    font-size: 2em;
    /* padding-left: 3%;*/
}
.miniscreen {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    font-size: 2em;
}
#screen-buttons{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px;
}

 /* #clear {
    
}
#delete-one{
  
}  */

.buttons{
    display: grid;
    grid-row: 3 / 7;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin: 30px 10px 10px 10px;
}

#container button {
    background: white;
    border: 1px solid #969696;
    font-weight: 900;
}
#container button:hover{
    background:#eaeaea;
}

#container .buttons button {
    height: 60px;
    border-radius: 3px;
    font-size: 2em;
}

.operator{
    color: rgb(0 19 255);
}

#container .buttons #result{
    background: #f0595f;
    color: #fff;
    border-color: #b0353a;
}
#container .buttons #result:hover {
 background-color: #f17377;
}